<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="Agregar" icon="pi pi-plus" class="p-button-success mr-2"
                            *ngIf="canCreate" (click)="openNew()">
                        </button>
                        <button pButton pRipple label="Atras" icon="pi pi-arrow-circle-left"
                            class="p-button-danger mr-2" (click)="goCustodies()">
                        </button>
                        <button pButton pRipple label="Control Minimo AP" icon="pi pi-plus" class="p-button-info" *ngIf="canCreate"
                            (click)="deleteSelectedCustodies()">
                        </button>
                    </div>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="samplings" [columns]="cols" [rows]="10" [globalFilterFields]="['name', 'permisos']"
                [paginator]="true" [rowsPerPageOptions]="rowsPerPageOptions" [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [(selection)]="selectedSamplings" selectionMode="multiple" responsiveLayout="scroll">
                <ng-template pTemplate="caption">
                    <div class="flex justify-content-between align-items-center">
                        <h5>Administracion de los Muestreos</h5>
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText autocomplete="off" type="text" (input)="onGlobalFilter(dt, $event)"
                                placeholder="Search..." />
                        </span>
                    </div>
                </ng-template>

                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th *ngFor="let col of cols" [pSortableColumn]="col.field">
                            {{ col.header }}
                            <p-sortIcon [field]="col.field"></p-sortIcon>
                        </th>
                        <th>Acciones</th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-sampling>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="sampling"></p-tableCheckbox>
                        </td>
                        <td>{{ sampling.sample_code }}</td>
                        <td>{{ sampling.description }}</td>
                        <td>{{ sampling.source_of_supply }}</td>
                        <td>{{ sampling.quantity }}</td>
                        <td>{{ sampling.sample_location }}</td>
                        <td>{{ sampling.sample_point }}</td>
                        <td>{{ sampling.coordinatesX }}<br>{{ sampling.coordinatesY }}</td>
                        <td>{{ sampling.sampling_technique }}</td>
                        <td>{{ sampling.sampling_technique_m }}</td>
                        <td>{{ sampling.ci_res_a }}</td>
                        <td>{{ sampling.ci_res_b }}</td>
                        <td>{{ sampling.cond_amb_t }}</td>
                        <td>{{ sampling.cond_amb_h }}</td>
                        <td>{{ sampling.sampling_day }}</td>
                        <td>{{ sampling.sampling_time }}</td>
                        <td>{{ sampling.createAt }}</td>
                        <td>
                            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"
                                title="Editar" *ngIf="canEdit" (click)="editSampling(sampling)"></button>
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger"
                                title="Eliminar" *ngIf="canDelete" (click)="deleteSampling(sampling)"></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="samplingDialog" header="Muestreo" [responsive]="true">
            <div class="grid p-fluid mt-1">
                <div class="p-field col-12 md:col-4">
                    <span class="p-float-label">
                        <p-calendar id="sampling_day" [(ngModel)]="sampling.sampling_day" dateFormat="dd/mm/yy">
                        </p-calendar>
                        <label for="sampling_day">Fecha</label>
                    </span>
                </div>
                <div class="p-field col-12 md:col-4">
                    <span class="p-float-label">
                        <p-calendar id="sampling_time" [(ngModel)]="sampling.sampling_time" timeOnly="true"
                            hourFormat="24">
                        </p-calendar>
                        <label for="sampling_time">Hora</label>
                    </span>
                </div>
                <!-- <div class="p-field col-12 md:col-4">
                    <span class="p-float-label">
                        <input id="sample_code" [(ngModel)]="sampling.sample_code" type="text" pInputText
                            autocomplete="off" />
                        <label for="sample_code">Código Muestreo</label>
                    </span>
                </div> -->
                <div class="p-field col-12 md:col-4">
                    <span class="p-float-label">
                        <p-dropdown id="sample_code" [options]="waterTypes" [(ngModel)]="selectedWaterType"
                            (onChange)="onWaterTypeChange()" placeholder="Seleccione Tipo de Agua">
                        </p-dropdown>
                        <label for="sample_code">Tipo de Agua</label>
                    </span>
                </div>
                <div class="p-field col-12 md:col-4" *ngIf="isCustomSite">
                    <span class="p-float-label">
                        <input id="sample_location_t" [(ngModel)]="sampling.sample_location_t" type="text" pInputText
                            autocomplete="off" />
                        <label for="sample_location_t">Sitio</label>
                    </span>
                </div>
                <div class="p-field col-12 md:col-4" *ngIf="!isCustomSite">
                    <span class="p-float-label">
                        <p-dropdown id="sample_location" [options]="sites" [(ngModel)]="sampling.sample_location" (onChange)="onSiteChange()"
                            placeholder="Sitio"></p-dropdown>
                        <label for="sample_location">Sitio</label>
                    </span>
                </div>
                <!-- <div class="p-field col-12 md:col-4">
                    <span class="p-float-label">
                        <input id="description" [(ngModel)]="sampling.description" type="text" pInputText
                            autocomplete="off" />
                        <label for="description">Descripcion</label>
                    </span>
                </div> -->
                <div class="p-field col-12 md:col-4">
                    <span class="p-float-label">
                        <input id="description" [(ngModel)]="sampling.description" type="text" pInputText
                            autocomplete="off"/>
                        <label id="description">Descripción</label>
                    </span>
                </div>
                <!-- <div class="p-field col-12 md:col-4">
                    <span class="p-float-label">
                        <input id="source_of_supply" [(ngModel)]="sampling.source_of_supply" type="text" pInputText
                            autocomplete="off" />
                        <label for="source_of_supply">Fuente de Abastecimiento</label>
                    </span>
                </div> -->
                <div class="p-field col-12 md:col-4">
                    <span class="p-float-label">
                        <input id="source_of_supply" pInputText [(ngModel)]="sampling.source_of_supply" />
                        <label id="source_of_supply">Fuente</label>
                    </span>
                </div>
                <div class="p-field col-12 md:col-4">
                    <span class="p-float-label">
                        <input id="quantity" [(ngModel)]="sampling.quantity" type="number" min="0" pInputText
                            autocomplete="off" />
                        <label for="quantity">Cantidad (mL)</label>
                    </span>
                </div>
                <!-- <div class="p-field col-12 md:col-4">
                    <span class="p-float-label">
                        <input id="sample_point" [(ngModel)]="sampling.sample_point" type="text" pInputText
                            autocomplete="off" />
                        <label for="sample_point">Punto de Muestreo</label>
                    </span>
                </div> -->
                <div class="p-field col-12 md:col-4">
                    <span class="p-float-label">
                        <input id="sample_point" pInputText [(ngModel)]="sampling.sample_point" />
                        <label id="sample_point">Punto</label>
                    </span>
                </div>
                <!-- <div class="p-field col-12 md:col-4">
                    <span class="p-float-label">
                        <input id="coordinatesX" [(ngModel)]="sampling.coordinatesX" type="text" pInputText
                            autocomplete="off" />
                        <label for="coordinatesX">Coordenada X</label>
                    </span>
                </div> -->
                <div class="p-field col-12 md:col-4">
                    <span class="p-float-label">
                        <input id="coordinatesX" pInputText [(ngModel)]="sampling.coordinatesX" />
                        <label id="coordinatesX">Coordenada X</label>
                    </span>
                </div>
                <!-- <div class="p-field col-12 md:col-4">
                    <span class="p-float-label">
                        <input id="coordinatesY" [(ngModel)]="sampling.coordinatesY" type="text" pInputText
                            autocomplete="off" />
                        <label for="coordinatesY">Coordenada Y</label>
                    </span>
                </div> -->
                <div class="p-field col-12 md:col-4">
                    <span class="p-float-label">
                        <input id="coordinatesY" pInputText [(ngModel)]="sampling.coordinatesY" />
                        <label id="coordinatesY">Coordenada Y</label>
                    </span>
                </div>
                <div class="p-field col-12 md:col-4">
                    <span class="p-float-label">
                        <p-dropdown id="sampling_technique" [options]="samplingTechniques"
                            [(ngModel)]="sampling.sampling_technique" placeholder="Seleccione una técnica">
                        </p-dropdown>
                        <label for="sampling_technique">Técnica de Muestreo</label>
                    </span>
                </div>
                <div class="p-field col-12 md:col-4">
                    <span class="p-float-label">
                        <input id="sampling_technique_m" [(ngModel)]="sampling.sampling_technique_m" type="text"
                            pInputText autocomplete="off" />
                        <label for="sampling_technique_m">T°C Muestreo</label>
                    </span>
                </div>
                <div class="p-field col-12 md:col-4">
                    <span class="p-float-label">
                        <input id="ci_res_a" [(ngModel)]="sampling.ci_res_a" type="number" min="0" step="0.1" pInputText
                            autocomplete="off" />
                        <label for="ci_res_a">CI Res. (mg/L) A</label>
                    </span>
                </div>
                <div class="p-field col-12 md:col-4">
                    <span class="p-float-label">
                        <input id="ci_res_b" [(ngModel)]="sampling.ci_res_b" type="number" min="0" step="0.1" pInputText
                            autocomplete="off" />
                        <label for="ci_res_b">CI Res. (mg/L) B</label>
                    </span>
                </div>
                <div class="p-field col-12 md:col-4">
                    <span class="p-float-label">
                        <input id="cond_amb_t" [(ngModel)]="sampling.cond_amb_t" type="number" min="0" step="0.1"
                            pInputText autocomplete="off" />
                        <label for="cond_amb_t">Cond. Amb. T°C</label>
                    </span>
                </div>
                <div class="p-field col-12 md:col-4">
                    <span class="p-float-label">
                        <input id="cond_amb_h" [(ngModel)]="sampling.cond_amb_h" type="number" min="0" step="0.1"
                            pInputText autocomplete="off" />
                        <label for="cond_amb_h">Cond. Amb. H%</label>
                    </span>
                </div>
            </div>
            <p-footer>
                <button type="button" pButton label="Cancelar" icon="pi pi-times"
                    (click)="samplingDialog = false"></button>
                <button type="button" pButton label="Guardar" icon="pi pi-check" (click)="saveSampling()"></button>
            </p-footer>
        </p-dialog>

        <p-dialog [(visible)]="deleteSamplingDialog" header="Confirmación" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="sampling">Esta seguro de eliminar el registro
                    <b>{{sampling.sample_code}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                    (click)="deleteSamplingDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Si"
                    (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteSamplingssDialog" header="Confirmación" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Esta seguro de eliminar estos registros?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                    (click)="deleteSamplingssDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Si"
                    (click)="confirmDeleteSelected()"></button>
            </ng-template>
        </p-dialog>

    </div>
</div>
