<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="Agregar" icon="pi pi-plus" class="p-button-success mr-2"
                            *ngIf="canCreate" (click)="openNew()">
                        </button>
                        <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger" *ngIf="canDelete"
                            (click)="deleteSelectedRoles()" [disabled]="!selectedRols || !selectedRols.length">
                        </button>
                    </div>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="rols" [columns]="cols" [rows]="10" [globalFilterFields]="['name', 'permisos']"
                [paginator]="true" [rowsPerPageOptions]="rowsPerPageOptions" [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [(selection)]="selectedRols" selectionMode="multiple" responsiveLayout="scroll">
                <ng-template pTemplate="caption">
                    <div class="flex justify-content-between align-items-center">
                        <h5>Administracion de Roles</h5>
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)"
                                placeholder="Search..." />
                        </span>
                    </div>
                </ng-template>

                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th *ngFor="let col of cols" [pSortableColumn]="col.field">
                            {{ col.header }}
                            <p-sortIcon [field]="col.field"></p-sortIcon>
                        </th>
                        <th>Acciones</th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-rol>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="rol"></p-tableCheckbox>
                        </td>
                        <td>{{ rol.name }}</td>
                        <td>
                            <ul>
                                <li *ngFor="let permiso of rol.permisos">{{ permiso.name }}</li>
                            </ul>
                        </td>
                        <td>{{ rol.createAt }}</td>
                        <td>
                            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" title="Editar"
                                *ngIf="canEdit" (click)="editRol(rol)"></button>
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger" title="Eliminar"
                                *ngIf="canDelete" (click)="deleteRol(rol)"></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="rolDialog" header="Role" [responsive]="true">
            <div class="p-fluid">
                <div class="p-field">
                    <label for="name">Role Name</label>
                    <input id="name" [(ngModel)]="rol.name" type="text" pInputText />
                </div>

                <div class="p-field">
                    <label>Permissions</label>
                    <div *ngFor="let permiso of permissions">
                        <p-checkbox [(ngModel)]="permisosSeleccionados[permiso.id]" binary="true"
                            label="{{ permiso.name }}">
                        </p-checkbox>
                    </div>
                </div>

            </div>
            <p-footer>
                <button type="button" pButton label="Cancel" icon="pi pi-times" (click)="rolDialog = false"></button>
                <button type="button" pButton label="Save" icon="pi pi-check" (click)="saveRol()"></button>
            </p-footer>
        </p-dialog>

        <p-dialog [(visible)]="deleteRolDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="rol">Esta seguro de eliminar el registro <b>{{rol.name}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                    (click)="deleteRolDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Si"
                    (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteRolsDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Esta seguro de eliminar estos registros?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                    (click)="deleteRolsDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Si"
                    (click)="confirmDeleteSelected()"></button>
            </ng-template>
        </p-dialog>

    </div>
</div>
