<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="Agregar" icon="pi pi-plus" class="p-button-success mr-2"
                            *ngIf="canCreate" (click)="openNew()">
                        </button>
                        <button pButton pRipple label="Reportes" icon="pi pi-print" class="p-button-info mr-2"
                            (click)="goToReport()">
                        </button>
                        <button pButton pRipple label="Mapa" icon="pi pi-map" class="p-button-secondary mr-2"
                            (click)="goToMaps()">
                        </button>
                        <!-- <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger" *ngIf="canDelete"
                            (click)="deleteSelectedCustodies()" [disabled]="!selectedChainOfCustodys || !selectedChainOfCustodys.length">
                        </button> -->
                    </div>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="chainOfCustodys" [columns]="cols" [rows]="10"
                [globalFilterFields]="['name', 'permisos']" [paginator]="true" [rowsPerPageOptions]="rowsPerPageOptions"
                [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [(selection)]="selectedChainOfCustodys" selectionMode="multiple" responsiveLayout="scroll">
                <ng-template pTemplate="caption">
                    <div class="flex justify-content-between align-items-center">
                        <h5>Administracion de Cadenas de Custodios</h5>
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)"
                                placeholder="Search..." />
                        </span>
                    </div>
                </ng-template>

                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th *ngFor="let col of cols" [pSortableColumn]="col.field">
                            {{ col.header }}
                            <p-sortIcon [field]="col.field"></p-sortIcon>
                        </th>
                        <th>Acciones</th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-custody>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="custody"></p-tableCheckbox>
                        </td>
                        <td>{{ custody.code_custody }}</td>
                        <td>
                            <i class="pi"
                                [ngClass]="{'true-icon pi-check-circle text-green-500': custody.laboratoryMB, 'false-icon pi-times-circle text-pink-500': !custody.laboratoryMB}"></i>
                            {{ custody.laboratoryMB ? 'Sí' : 'No' }}
                        </td>
                        <td>
                            <i class="pi"
                                [ngClass]="{'true-icon pi-check-circle text-green-500': custody.laboratoryFQ, 'false-icon pi-times-circle text-pink-500': !custody.laboratoryFQ}"></i>
                            {{ custody.laboratoryFQ ? 'Sí' : 'No' }}
                        </td>
                        <td>{{ custody.code_thermohygrometer }}</td>
                        <td>{{ custody.code_thermometer_m_m }}</td>
                        <td>{{ custody.code_thermometer }}</td>
                        <td>{{ custody.code_colorimeter }}</td>
                        <td>{{ custody.initial_conservative }}</td>
                        <td>{{ custody.createAt }}</td>
                        <td>
                            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"
                                title="Editar" *ngIf="canEdit" (click)="editCustody(custody)"></button>
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger mr-2"
                                title="Eliminar" *ngIf="canDelete" (click)="deleteCustody(custody)"></button>
                            <button pButton pRipple icon="pi pi-plus" class="p-button-rounded p-button-info mr-2"
                                title="Muestreo" *ngIf="canCreate" (click)="goToSampling(custody?.id)">
                            </button>
                            <button pButton pRipple icon="pi pi-plus" class="p-button-rounded p-button-secondary mr-2"
                                title="Datos del Solicitante" *ngIf="canCreate" (click)="goToApplicant(custody?.id)">
                            </button>
                            <button pButton pRipple icon="pi pi-plus" class="p-button-rounded p-button-success mr-2"
                                title="Transporte" *ngIf="canCreate" (click)="goToTransport(custody?.id)">
                            </button>
                            <button pButton pRipple icon="pi pi-print" class="p-button-rounded p-button-info mr-2"
                                title="Reporte" (click)="goToReportInformation(custody)"></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="chainOfCustodyDialog" header="Custodio" [responsive]="true">
            <div class="p-fluid">
                <div class="p-field-checkbox">
                    <p-checkbox id="laboratoryMB" [(ngModel)]="chainOfCustody.laboratoryMB" binary="true"
                        inputId="laboratoryMB">
                    </p-checkbox>
                    <label for="laboratoryMB">MB</label>
                </div>
                <div class="p-field-checkbox">
                    <p-checkbox id="laboratoryFQ" [(ngModel)]="chainOfCustody.laboratoryFQ" binary="true"
                        inputId="laboratoryFQ">
                    </p-checkbox>
                    <label for="laboratoryFQ">FQ</label>
                </div>
                <div class="p-field">
                    <label for="code_thermohygrometer">Código Termohigrómetro</label>
                    <input id="code_thermohygrometer" [(ngModel)]="chainOfCustody.code_thermohygrometer" type="text"
                        pInputText autocomplete="off" />
                </div>
                <div class="p-field">
                    <label for="code_thermometer_m_m">Código Termometro Max/Min</label>
                    <input id="code_thermometer_m_m" [(ngModel)]="chainOfCustody.code_thermometer_m_m" type="text"
                        pInputText autocomplete="off" />
                </div>
                <div class="p-field">
                    <label for="code_thermometer">Código Termómetro</label>
                    <input id="code_thermometer" [(ngModel)]="chainOfCustody.code_thermometer" type="text" pInputText
                        autocomplete="off" />
                </div>
                <div class="p-field">
                    <label for="code_colorimeter">Código Colorimetro</label>
                    <input id="code_colorimeter" [(ngModel)]="chainOfCustody.code_colorimeter" type="text" pInputText
                        autocomplete="off" />
                </div>
                <div class="p-field">
                    <label for="initial_conservative">T°C° Inicial Conservador</label>
                    <input id="initial_conservative" [(ngModel)]="chainOfCustody.initial_conservative" type="text"
                        pInputText autocomplete="off" />
                </div>
            </div>
            <p-footer>
                <button type="button" pButton label="Cancelar" icon="pi pi-times"
                    (click)="chainOfCustodyDialog = false"></button>
                <button type="button" pButton label="Guardar" icon="pi pi-check" (click)="saveCustody()"></button>
            </p-footer>
        </p-dialog>

        <p-dialog [(visible)]="deleteChainOfCustodyDialog" header="Confirmación" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="chainOfCustody">Esta seguro de eliminar el registro
                    <b>{{chainOfCustody.code_custody}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                    (click)="deleteChainOfCustodyDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Si"
                    (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteChainOfCustodyssDialog" header="Confirmación" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Esta seguro de eliminar estos registros?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                    (click)="deleteChainOfCustodyssDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Si"
                    (click)="confirmDeleteSelected()"></button>
            </ng-template>
        </p-dialog>

    </div>
</div>
