.map-container {
    position: relative; /* Cambiado de absolute a relative */
    width: 100%;
    height: calc(
        100% - 50px
    ); /* Ajusta el tamaño para excluir el margen del toolbar */
    margin-top: 10px; /* Ajusta el margen superior */
    overflow: hidden; /* Asegúrate de que no haya scroll */
}

#map {
    width: 100%;
    height: 100%;
    border: 2px solid black; /* Opcional, para ver mejor el contenedor */
    border-radius: 4px; /* Un pequeño ajuste estético */
}
#popup-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.popup-button:hover {
    background-color: #0056b3;
}
